<% provide(:title, "New Announcement") %>

<h1>Create a new announcement!</h1>
<%= render 'shared/error_messages2' %>
<div class="center jumbotron">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <%= form_for(@announcement) do |f| %>
            <%= f.label :content, "Write your post:" %>
            <%= f.text_field :content, class: "form-control" %>
            <%= f.submit "Send", class: "btn btn-lg btn-primary" %>
            <% end %>
        </div>
    </div>
</div>